/**
* Variables
* --------------------------------------------------
*/

$site-name:                        site-fen;
$site-slider:                      fen_home_slider;

 // Colors
 // -------------------------------
$headers-default-text-color:      #1F2B49 !default;
$h2-text-color:                   #502280 !default;
$h4-text-color:                   #007C9F !default;
$main-menu-bg:                    #F26E01 !default;
$main-menu-parent-hover-bg:       #f65600 !default;
$main-menu-horizontal-separator:  rgba(0, 0, 0, 0.1) !default;
$main-menu-item-bg:               #FFAD01 !default;
$main-menu-item-hover-bg:         #FE8101 !default;
$main-menu-item-separator:        rgba(153, 153, 153, 0.4) !default;
$slider-btn-info-hover:           #5b5b5b !default;
$table-head-bg:                   #01072b !default;
$table-odd-row-bg:                #e6e6e6 !default;
$table-row-hover-bg:              #ffab00 !default;
$table-link-color:                #243268 !default;
$main-lateral-button-border:      #a0a0a0 !default;
$main-lateral-first-btn-bg:       #b31b58 !default;
$main-lateral-second-btn-bg:      #9CC34D !default;
$main-lateral-third-btn-bg:       #66A7DD !default;
//Measures
// -------------------------------
$main-header-height:              132px;
