/**
* Accordion Styles
* --------------------------------------------------
*/
.#{$site-name} {
    .panel-default {
        & > .panel-heading {
            padding: 0px !important;

            & > a {
                padding: 10px 15px;
                display: block;
                text-align: initial;
                text-decoration: none;
                border-radius: 8px 8px 5px 5px;

                &[aria-expanded="true"] {
                    background-color: $accordion-selected-bg !important;

                    h4 {
                        font-weight: 700;
                    }
                }
                & > h4 {
                    color: white;
                    margin: 0px !important;
                    font-weight: 500;
                }
            }
       }
       &:nth-child(odd) > .panel-heading > a {
            background-color: $accordion-odd-bg !important;
       }
       &:nth-child(even) > .panel-heading > a {
            background-color: $accordion-even-bg !important;
       }
    }

    .panel {
        .panel-default {
            border-radius: 10px;
        }
    }
    .panel-group .panel+.panel {
        margin-top: 0px;
    }
}
