/**
* Accordion Styles
* --------------------------------------------------
*/
.#{$site-name} {
    .panel-default {
       & > .panel-heading {
            padding: 0px !important;

            & > a {
                padding: 15px 45px 15px 15px;
                display: block;
                text-align: initial;
                text-decoration: none;
                border-radius: 8px 8px 5px 5px;
                position: relative;

                &:after {
                  content: "";
                  height: 47px;
                  width: 47px;
                  position: absolute;
                  top: calc(50% - 23px);;
                  right: 0;
                  background: url("#{$images-path}img-spritesheet.png");
                }
                &:before {
                    content: "Click para abrir/cerrar";
                    position: absolute;
                    background: $accordion-selected-bg;
                    color: $accordion-odd-bg;
                    border: 1px solid rgba(white, 0.5);
                    padding: 1px 5px;
                    right: 0;
                    top: 100%;
                    visibility: hidden;
                    opacity: 0;
                    transition: visibility 0s, opacity 0.25s linear;
                    z-index: 5000;
                }
                &:hover:before {
                    visibility: visible;
                    opacity: 1;
                }
                &[aria-expanded="true"] {
                    background-color: $accordion-selected-bg !important;

                    &:after {
                      background-position: -53px -169px !important;
                     }

                    h4 {
                        font-weight: 700;
                    }
                }
                & > h4 {
                    color: white;
                    margin: 0px !important;
                    font-weight: 500;
                }
            }
       }

       &:nth-child(odd) > .panel-heading > a {
            background-color: $accordion-odd-bg;

            &:after {
              background-position: -6px -169px;
            }
       }
       &:nth-child(even) > .panel-heading > a {
            background-color: $accordion-even-bg;

            &:after {
              background-position: -6px -169px;
            }
       }
       .panel-collapse {
          margin: -3px 0;

          .panel-body {
            border-top: none;
            border-left: 1px solid lightgray;
            border-right: 1px solid lightgray;
            padding: 18px 15px;
          }
       }
    }

    .panel {
        border: none;

        .panel-default {
            border-radius: 10px;
        }
    }
    .panel-group .panel+.panel {
        margin-top: 0px;
    }

    .ui-accordion {
        .ui-icon {
            display: none;
        }
        .views-row {
            border-radius: 8px;
            .views-field-title {
                border: none;
                margin: 0;
                background: none !important;
                border-radius: 8px 8px 0 0;

                a {
                text-align: left;
                padding: 10px 15px;
                line-height: 100%;

                    .field-content {
                        color: white;
                        font-weight: 500;
                        text-transform: uppercase;
                        font-size: 16px;
                    }
                }
            }
            &:nth-child(odd) {
                background: $accordion-odd-bg !important;
            }
            &:nth-child(even) {
                background: $accordion-even-bg !important;
            }
            .ui-state-active {
                background: $accordion-selected-bg !important;

                .field-content{
                    font-weight: 700 !important;
                }
            }
        }
    }
}
