/**
 * Buttons Styles
 * --------------------------------------------------
 */
 .#{$site-name} {
     .btn {
         background: $accordion-selected-bg;
         color: white;
         font-weight: 600;
         border: none;
         white-space: normal;

         &.download-btn {
           background-color: $accordion-even-bg;
           width: 100%;
           padding: 10px;
           margin: 7px;
        }

         &:hover {
            background: $accordion-odd-bg !important;
            border: none;
         }
     }
     .icon-button {
        background: $link-text-color;
        padding: 10px 16px 10px 50px;
        position: relative;

        span {
            background: url("#{$images-path}img-spritesheet.png") no-repeat;
            height: 45px;
            width: 45px;
            position: absolute;
            left: 0;
            top: 0;
        }
     }

     .pdf-button {
         span {
            background-position: -133px -6px;
         }
     }
     .excel-button {
         span {
            background-position: -133px -62px;
         }
     }
     .more-info-button {
         span {
            background-position: -189px -6px;
         }
     }
     .table {
          button {
              white-space: normal;
          }
     }
     .enlistment-modals {
          background: url("#{$images-path}img_enlistment_bg.png") no-repeat 50% 0 / 100%, url("#{$images-path}img_enlistment_pattern_bg.jpg");
          height: 982px;
          margin-bottom: 15px;

          & > button {
              color: transparent;
              background: transparent no-repeat center 0 / auto 100%;
              display: block;
              padding: 0 !important;

              &:hover {
                background-color: transparent !important;
                background-size: contain !important;
                color: transparent !important;
              }
          }
          button:nth-child(1) {
              background-image: url("#{$images-path}img_modalbutton1.png") !important;
          }
          button:nth-child(3) {
              background-image: url("#{$images-path}img_modalbutton2.png") !important;
          }
          button:nth-child(5) {
              background-image: url("#{$images-path}img_modalbutton3.png") !important;
          }
          button:nth-child(7) {
              background-image: url("#{$images-path}img_modalbutton4.png") !important;
          }
          button:nth-child(9) {
              background-image: url("#{$images-path}img_modalbutton5.png") !important;
          }
          button:nth-child(11) {
              background-image: url("#{$images-path}img_modalbutton6.png") !important;
          }
          button:nth-child(13) {
              background-image: url("#{$images-path}img_modalbutton7.png") !important;
          }
      }

      @media (min-width: 1100px) {
          .enlistment-modals {
              & > button {
                 margin: 0 0 10px 291px;
                 width: 30%;
                 height: 106px;
              }
          }
      }
      @media (min-width: 1025px) and (max-width: 1099px) {
          .enlistment-modals {
              & > button {
                  margin: 0 0 6px 267px;
                  width: 32%;
                  height: 100px;
              }
          }
      }
      @media (min-width: 1025px) {
          .enlistment-modals {
              padding-top: 115px;
          }
      }
      @media (max-width: 991px) {
          .enlistment-modals {
              height: 118vw;
          }
      }
      @media (min-width: 992px) and (max-width: 1024px) {
          .enlistment-modals {
              padding-top: 11vw;

              & > button {
                margin: 0 0 1.2vw 26vw;
                width: 30%;
                height: 9vw;
              }
          }
      }
      @media (min-width: 880px) and (max-width: 991px) {
          .enlistment-modals {
              padding-top: 15vw;

              & > button {
                margin: 0 0 1.1vw 34.3vw;
                width: 28vw;
                height: 12.7vw;
              }
          }
      }
      @media (min-width: 768px) and (max-width: 879px) {
          .enlistment-modals {
              padding-top: 14vw;

              & > button {
                margin: 0 0 0.7vw 34.5vw;
                width: 27vw;
                height: 13vw;
              }
          }
      }
      @media (max-width: 767px) {
        .enlistment-modals {
              padding-top: 12vw;
        }
      }
      @media (min-width: 650px) and (max-width: 767px) {
          .enlistment-modals {
              & > button {
                margin: 0 0 0.2vw 31.5vw;
                width: 26vw;
                height: 12.9vw;
              }
          }
      }
      @media (max-width: 650px) {
          .enlistment-modals {
              & > button {
                margin: 0 0 0.2vw 30vw;
                width: 25vw;
                height: 12vw;
              }
          }
      }
}
