/**
 * Buttons Styles
 * --------------------------------------------------
 */
 .#{$site-name} {
     .btn-info {
         background: transparent;
         color: $slider-btn-info-hover;
         font-weight: 600;
         border: 2px solid $slider-btn-info-hover;

         &:hover {
            background: $table-odd-row-bg !important;
         }
     }
     .main-lateral-panel {
        .views-row {
            display: flex;
            align-items: center;
            border: 2px solid $main-lateral-button-border !important;
            border-radius: 10px;
            margin-top: 25px;

            &:hover {
                background: $table-odd-row-bg !important;

                .views-field-title {
                    span {
                        a {
                            text-decoration: underline;
                        }
                    }
                }
            }
            & > * {
                height: 100px;
            }
            .views-field-title {
                width: calc(100% - 80px);

                span {
                    a {
                        background: transparent;
                        color: $main-lateral-button-border;
                        font-weight: 600;
                        padding: 0 15px 0 35px;
                        text-align: left;
                        font-size: 16px;
                    }
                }
                span, a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
            }
            .views-field-php {
              width: 70px;

              & > span {
                  &, & > a {
                      display: flex;
                      align-items: center;
                      height: 100%;
                      width: 100%;
                  }
              }
              .button-icon {
                  display: block;
                  height: 80px;
                  background: url('http://52.37.84.217/edu-bienestarlaboral/img/img-spritesheet.png') no-repeat;
                  width: 100%;
              }
            }
            &:first-child {
                .views-field-title {
                    @include background-button-properties($main-lateral-first-btn-bg);
                }
                .views-field-php {
                    .button-icon {
                      background-position: -2px 0px;
                    }
                }
            }
            &:nth-child(2) {
                .views-field-title {
                    @include background-button-properties($main-lateral-second-btn-bg);
                }
                .views-field-php {
                    .button-icon {
                      background-position: -3px -90px;
                    }
                }
            }
            &:nth-child(3) {
                .views-field-title {
                    @include background-button-properties($main-lateral-third-btn-bg);
                }
                .views-field-php {
                    .button-icon {
                      background-position: -4px -175px;
                    }
                }
            }
        }
     }
}
