/**
 * Buttons Styles
 * --------------------------------------------------
 */
 .#{$site-name} {
     .btn {
         background: $accordion-selected-bg;
         color: white;
         font-weight: 600;
         border: none;

         &:hover {
            background: $accordion-odd-bg !important;
            border: none;
         }
     }
     .icon-button {
        background: $link-text-color;
        padding: 10px 16px 10px 50px;
        position: relative;

        span {
          background: url("http://52.37.84.217/#{$path-site}/img/img-spritesheet.png") no-repeat;
          height: 45px;
          width: 45px;
          position: absolute;
          left: 0;
          top: 0;
        }
     }
}
