/**
 * General Styles
 * --------------------------------------------------
 */
 .#{$site-name} {
     .main_container {
        @include main-background-properties($site-bg, $site-bg-shadow);
     }
     #microsite_panel {
         background-color: $content-bg;
     }
     .content {
         p {
             a {
               text-decoration: underline;
             }
         }
     }
     .section_content {
        .breadcrumb {
           margin-bottom: 0px;
           height: 40px;
        }
        p {
          margin-top: 10px !important;
          color: $paragraph-text-color !important;
        }
     }
     .home-content {
        .view-content {
            ul {
                padding-left: 40px !important;
            }
            li {
                margin-top: 5px !important;
                list-style: initial !important;
            }
            img {
              margin-top: 35px;
            }
        }
     }
     

     @media (min-width: 1100px) {
         .main_container {
              .section_content {
                  width: 1024px !important;
              }
          }
     }
     @media (min-width: 992px) and (max-width: 1024px) {
         #microsite_panel {
           overflow: hidden;
         }
     }
     @media (min-width: 768px) {
         .content {
            .modal-dialog {
               width: 600px;
               margin: 15% auto;
            }
         }
     }
     @media (min-width: 768px) and (max-width: 1024px){
         #banner .view .view-content {
             margin-bottom: 0 !important;
         }
     }
     @media (max-width: 767px){
         .section_container.no_left_sidebar .section_content {
            width: 100% !important;
         }
     }
 }
