/**
 * General Styles
 * --------------------------------------------------
 */
 .#{$site-name} {
     .main_container {
        @include main-background-properties($site-bg, $site-bg-shadow);
     }
     #microsite_panel {
         background-color: $content-bg;
         min-height: 820px;
     }
     .content {
         p {
             a {
               text-decoration: underline;
               cursor: pointer;
               color: $link-text-color;

               &:hover {
                  color: $link-text-hover;
               }
             }
         }
     }
     .section_content {
        .breadcrumb {
           margin-bottom: 0px;
           height: 40px;
        }
        p {
          margin-top: 10px !important;
          color: $paragraph-text-color !important;
          text-align: justify;
        }
     }
     .general-content {
         min-height: 315px;

         .eslistment-title {
            background: #405995;
            color: white !important;
            font-size: 18px;
            padding: 25px;
            text-align: center;
            line-height: 100%;

            b {
                color: white;
                display: block;
                font-size: 33px;
                font-weight: 600;
                margin-bottom: 15px;
                line-height: 100%;
            }
         }
         form {
           margin-top: 25px;
           background-color: $form-bg;
           padding: 15px;
           border-radius: 10px;

           label {
              display: block;
              margin-top: 10px;
              font-size: 15px;
           }
           .form-text, textarea {
              width: 100%;
              padding: 5px;
           }
           .form-text {
              margin-bottom: 5px;
            }
           .button-primary {
              background: $accordion-selected-bg;
              color: white;
              font-weight: 600;
              border: none;
              white-space: normal;
              padding: 10px 16px;
              font-size: 18px;
              line-height: 1.3333333;
              border-radius: 6px;

              &:hover {
                  background: $accordion-odd-bg !important;
              }
           }
         }
      }
     .home-content, .general-content {
        .view-content {
            ul {
                & > li {
                  list-style: disc !important;
                }
            }
            ol {
                & > li {
                  list-style: decimal !important;
                }
            }
            ul, ol {
                padding-left: 40px !important;
            }
            li {
                margin-top: 5px !important;
            }
            .home-image {
                background: url("#{$images-path}img_home.jpg") no-repeat center / contain;
                min-height: 150px;
            }
        }
     }
     .registration-content {
        .row > * {
            text-align: center;
            margin: 15px 0;
        }
     }
     .media {
        margin: 30px 0;

        .media-left {
            a {
                width: 110px;
                display: block;
            }
        }
        .media-body {
            .media-heading {
                margin-top: 0 !important;
            }
        }
     }
     .experiences-graphic {
        overflow-x: auto;

        img {
            max-width: none !important;
        }
     }
     .inner-image {
        margin: 0 0 20px;
        position: relative;
        display: block;
        height: 0;
        padding: 0 0 35%;
        overflow: hidden;
     }
     .orientations-image {
        background: url("#{$images-path}img_innerimage1.JPG") no-repeat center 70% / cover;
     }
     .main-themes-image {
        background: url("#{$images-path}img_innerimage2.JPG") no-repeat center 35% / cover;
     }
     .methodology-image {
        background: url("#{$images-path}img_innerimage3.JPG") no-repeat center 35% / cover;
     }
     .evaluation-image {
        background: url("#{$images-path}img_innerimage4.JPG") no-repeat center 35% / cover;
     }
     .experiencies-image {
        background: url("#{$images-path}img_innerimage5.JPG") no-repeat center 65% / cover;
     }
     .central-forum-image {
        background: url("#{$images-path}img_innerimage6.JPG") no-repeat center 35% / cover;
     }
     .lecturer-image {
        background: url("#{$images-path}img_innerimage7.JPG") no-repeat center 60% / cover;
     }
     .interest-downloads-image {
        background: url("#{$images-path}img_innerimage8.JPG") no-repeat center 35% / cover;
     }
     @media (min-width: 1100px) {
         .main_container {
              .section_content {
                  width: 1024px !important;
              }
          }
     }
     @media (min-width: 992px) and (max-width: 1024px) {
         #microsite_panel {
           overflow: hidden;
         }
     }
     @media (min-width: 768px) {
         .content {
            .modal-dialog {
               width: 600px;
               margin: 15% auto;
            }
         }
         .row-center-sm {
             display: flex;
             align-items: center;
         }
     }
     @media (min-width: 768px) and (max-width: 1024px){
         #banner .view .view-content {
             margin-bottom: 0 !important;
         }
     }
     @media (max-width: 767px){
         .section_container.no_left_sidebar .section_content {
            width: 100% !important;
         }
     }
 }
