/**
 * Tabs Styles
 * --------------------------------------------------
 */
 .#{$site-name} {
     ul.nav.nav-tabs {
         a {
             background-color: white;
             color: $tabs-text-color;
             font-weight: 600;
         }
         li.active {
             a {
                 background-color: white;
                 color: $link-text-color;
             }
         }
     }
    .tab-content {
        background-color: white;
    }
    div {
        .tab-pane.fade {
            padding: 10px;
        }
    }
}
